.Left-Side .hide {
    display: none;
}

.Left-Side {
    width: 10rem;
    min-width: 10rem;
    justify-content: left;
}

.Search-Bar {
    min-width: 1rem;
}

.Search-Bar>input {
    min-width: 1rem;
}