:root {
    --column-width: 14.75rem;
    --row-increment: 0.5rem;
    --card_small: 45;
    --card_medium: 50;
    --card_big: 52;
    --card-border: 1.5rem;
}

* {
    margin: 0;  
    padding: 0;
    font-size: 16px;
    box-sizing: border-box;
    font-family: 'roboto', sans-serif;
}

main {
    margin-top: 5rem;
    width: 100%;
}

ul {
    list-style: none;
}

/* AQUI VAN LAS IMAGENES/ICONOS */
#Pinterest-icon {
    width: 36px;
    height: 36px;
    background-image: url(../Resources/pinterest-logo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.Mid-Side .Search-Bar #Search-Icon {
    padding: 1rem 0%;
    width: 16px;
    height: 16px;
    background-image: url(../Resources/search-icon.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.Right-Side #Notifications {
    width: 36px;
    height: 36px;
    background-image: url(../Resources/notification-icon.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}

.Right-Side #Messages {
    width: 36px;
    height: 36px;
    background-image: url(../Resources/message-icon.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}

.Right-Side #Profile-img {
    width: 36px;
    height: 36px;
    background-image: url(../Resources/user-icon.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}

.Right-Side #Settings {
    width: 36px;
    height: 36px;
    background-image: url(../Resources/settings-icon.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}

/* AQUI VAN AJUSTES DE LA BARRA DE NAVEGACION */

#Navbar-pinterest .Left-Side a {
    padding: 0.5rem;
}

nav {
    height: 5rem;
    background-color: rgb(255, 255, 255);
    display: flex;
    padding: 4px 1rem;
    z-index: 999;
}

#Navbar-pinterest {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    font-weight: 700;
}

#selected {
    width: 5.6rem;
    height: 3rem;
    background-color: black;
    color: white;
    border-radius: 2rem 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Left-Side {
    width: 20rem;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
}

nav .Left-Side span {
    cursor: pointer;
}

nav .Left-Side .buttons-1 {
    margin: 0;
    padding: 0.9rem 1rem;
}

.Mid-Side {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 4;
    min-width: 274px;
    background-color: transparent;
    align-content: center;
}

.Right-Side {
    width: 208px;
    height: 72px;
    background-color: transparent;
    min-width: 190px;
}

.Right-Side ul {
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
    padding: 1.1rem 0;
}

.Right-Side .buttons-2 {
    padding: 0rem 1rem;
}

.Search-Bar {
    margin-inline: 0.8rem;
    padding-inline-start: 0.8rem;
    height: 3rem;
    width: 100%;
    background-color: rgb(236, 236, 236);
    border-radius: 1.5rem;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
}

.Search-Bar:hover {
    background-color: #dedddd;
}

.Search-Bar>input {
    height: 2rem;
    flex-grow: 3;
    margin-inline-end: 1rem;
    margin-inline-start: 0.5rem;
    background-color: transparent;
    border-style: none;
    justify-content: center;
}

.Search-Bar>input:focus-visible {
    outline: none;
}

/* AQUI VA TODO LO DE LAS TARJETAS, POR AHORA ESTA BIEN */

.Pin-Container {
    display: grid;
    grid-template-columns: repeat(auto-fill, var(--column-width));
    width: 100%;
    grid-auto-rows: var(--row-increment);
    justify-content: center;
    background-color: rgb(255, 255, 255);
}

.card-image {
    position: relative;
    padding: 0;
    margin: 15px 10px;
    border-radius: var(--card-border);
    background-color: rgb(137, 137, 190);
}

.card-small {
    grid-row-end: span var(--card_small);
}

.card-medium {
    grid-row-end: span var(--card_medium);
}

.card-big {
    grid-row-end: span var(--card_big);
}

/* AQUI VA EL HOVER DE LAS TARJETAS */

.card-content {
    width: 100%;
    height: 100%;
    padding: 0.5rem 0.8rem;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    border-radius: var(--card-border);
}

.card-content:hover {
    opacity: 1;
}

.card-text {
    padding: 0.5rem;
    height: 2rem;
    width: 50%;
    color: white;
}
.save-button {
    padding: 0.5rem 0.5rem;
    height: 2rem;
    width: 50%;
    font-size: 14px;
    color: #ffffff;
    background-color: #dc0f0f;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
}

.more-options {
    padding: 0.5rem 0.5rem;
    height: 3rem;
    width: 3rem;
    font-size: 18px;
    color: #000000;
    background-color: #e7d6d6;
    border: none;
    border-radius: 100%;
    cursor: pointer;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    align-content: center;
    font-weight: 800;
}

.more-options:hover {
    background-color: rgb(255, 255, 255);;
}

.save-button:hover {
    background-color: rgb(179, 13, 13);;
}

/* AQUI ESTÁ EL BOTON DE AYUDA */

#help-button {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    color: #000000;
    font-size: 2rem;
    font-weight: 700;
    cursor: pointer;
}

#help-button:hover {
    background-color: #e5e5e5;
}
